body {
  background: #87CEEB;
  transition: background-color 5s cubic-bezier(1, 1, 1, 1); 
	transition-delay: 0s;
}

h1{
  cursor:default;
  margin:auto;
  text-align:center;
  padding-top:20%;
  padding-bottom:15px;
}

th{
  cursor:default;
}

#btn {  /*Reload button*/
  margin:center;
  height:25px;
  width:75px;
}

button {
  text-align:center;
	background-color: black;
	border-radius:5px;
  border:0px;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family:Arial;
	font-size:20px;
	width:75px;
  height:75px;
	text-decoration:none;
  margin: 5px;
}

#textInput{
 text-font:arial;
 font-size:20px;
 text-align:center;
 width:95px;
 margin:auto;
 display:block;
}

button:hover {
  color: red;
  
}

button:active { 
	position:relative;
	top:3px;
}

#winText{
  cursor:default;
  color:white;
  width: 100%;
  font-family: arial;
  font-size: 125%;
  text-align: center;
}
